@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-text-primary;
    font-family: system-ui, -apple-system, sans-serif;
    /* background: linear-gradient(135deg, #8f0606 0%, #000000 60%); */
    background: linear-gradient(135deg, #2d0404 0%, #000 60%);
    background-attachment: fixed;
    min-height: 100vh;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
