@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-text-primary;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #2d0404 0%, #000 60%);
    background-attachment: fixed;
    min-height: 100vh;
  }
  
  p {
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
